
:root {
    --main-text-color: #555555;
    --dark-bg-text-color: #9DA4BD;
    --accent-color: #FF6C00;
    --title-color: #303030;
    --dark-bg-color: #191C26;
    --secondary-bg-color: #F7F7F7;
    
    --title-font: "Raleway", sans-serif;

    --grid-item: 1;

    /* --main-bg-color: #FFFFFF;
    
    --dark-bg-text-color: #FFFFFF;
    --hero-slogan-color: rgba(157, 164, 190, 0.6); */
    
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em; 
    color: var(--main-text-color);
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}
/* Visual hidden */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover, 
.link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.flexbox {
    display: flex;
    justify-content: space-between;
}

.content-box {
    flex-basis: calc((100% - 30px) / 2);     
}

.grid { 
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.grid-item {
    flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
    margin-left: 30px;
    margin-top: 30px;
}

.button {
    min-width: 160px;
    padding: 12px 20px;
    border: 1px solid var(--accent-color) ;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--title-color);
    
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-bg-color);
}

.header .button{
    margin-left: 40px;
}

.menu {
    display: inline-flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.social-list{
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--title-color);
}

.social-item:not(:last-child) {
    margin-right: 40px;

}

.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--dark-bg-text-color);
}

.logo {
    display: block;
}

.title {
    font-family: var(--title-font);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--title-color);
    margin-bottom: 20px;
}

.title-label {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--title-color);
    margin-bottom: 20px;
}

.page-title {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.section-title {
    font-size: 42px;
    line-height: 1.167;
}

.section {
    padding: 130px 0;
}


.header {
    padding: 32px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .logo {
    margin-right: 70px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.hero-content {
    /* width: calc(100%/12*5); задаем ширину контейнера 
    1й или 2й вариант */ 
    max-width: 500px;
}

.price-wrap {
    display: flex;

}

.price-list {
    width: 50%;
    padding: 30px 40px;
}

.price-item {
    display: flex;
    justify-content: space-between;
}

.benefits-item {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--title-color);
    background-color: var(--secondary-bg-color);
}

.benefits-number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    color: var(--title-color);
}

.benefits-sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: var(--accent-color);
}

.team {
    background-color: var(--secondary-bg-color);
}

.team-item {
    --grid-item: 3;
    font-weight: 400;
    text-align: center;
}

.team-member {
    font-size: 18px;
    line-height: 1.39;
    color: var(--title-color);
}

.team-member-position {
    font-size: 14px;
    line-height: 1.36;
    color: var(--accent-color);
}



.gallery-item{
    --grid-item: 4;
}

.dark-bg {
    background-color: var(--dark-bg-color);
    color: var(--dark-bg-text-color);
}

.dark-bg .title, 
.dark-bg .button {
    --title-color: #FFFFFF;
}

.dark-bg .title-label {
    --title-color: rgba(157, 164, 189, 0.6);
}




